* {
   margin: 0;
  padding: 0;
}
body {
  background-color: #ffef91;
  position: relative;
  margin: 0;
  height: 600px;
  width: 100%;
  border-top: solid 20px #ffaf3d;
  animation:background;
  animation-duration:7s;
  animation-iteration-count:infinite;
  animation-direction:infinite;
}
@keyframes background{
  0%{background-color:#ffef91;}
  50%{background-color:#fff36b;}
  100%{backgroundcolor:#fff1cf;}
}
.floor{
  position:fixed;
  width: 100%;
  height: 20px;
  background-color:#ffaf3d;
  top:545px;
}
.palm{
  content:'';
  position: absolute;
  width: 32px;
  height: 30px;
  background-color:rgba(237, 126, 0,0.6);
  -webkit-border-radius: 20px 20px 20px 20px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border:solid 3px #c98714;
  top: 130px;
  left:230px;
  transform:rotate(-50deg);
  z-index:22;
}
.finger{
  content:'';
  position:absolute;
  width: 7px;
  height: 13px;
  border-radius: 50%;
  background: rgba(237, 126, 0,0.6);
  z-index:22;
}
.finger.a{
  content:'';
  position: absolute;
    transform: rotate(-6deg);
    margin-top: 112px;
  margin-left: 252px;
  border:solid 2px #c98714;
}
.finger.b{
  content:'';
  position: absolute;
    transform: rotate(-30deg);
    margin-top: 113px;
  margin-left: 230px;
  border:solid 2px #c98714;
}
.finger.c{
  content:'';
  position: absolute;
    transform: rotate(-50deg);
    margin-top: 125px;
  margin-left: 215px;
  border:solid 2px #c98714;
}
.finger.d{
  content:'';
  position: absolute;
    transform: rotate(-90deg);
    margin-top: 145px;
  margin-left: 213px;
  border:solid 2px #c98714;
}
.bearpaw{
position:absolute;
top:58px;
  left:68%;
  transition:all 1s cubic-bezier(0.5, -0.8, 0.2, 1.5) 0.1s;
/*   animation-name: p;
  animation-duration: 3s;
  animation-iteration-count: infinite; */
}
@keyframes p{
  50%{transform:scale(1.1);}
}
.bearpaw.second{
  position:absolute;
  top:54px;
  left:68%;
  transform:scale(0.8);
  z-index:22;
}
.circle {
  position: absolute;
  width: 170px;
  height: 160px;
  background: #ffb752;
  border-radius: 0 0 100% 0;
}
.text{
  position:absolute;
 font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #fff2d9;
  font-weight: 1000;
  letter-spacing: 0px;
  top:22px;
    text-shadow: rgb(255, 255, 255) 0px 0px 3px;
  animation-name: pp;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction:infinite;
}
@keyframes pp{
  0%{transform:scale(1);}
  50%{transform:scale(0.7);}
}
.paw {
  position: absolute;
  width: 42px;
  height: 60px;
  border-radius: 50%;
  background: #ffb752;
}
.paw.e {
  transform: rotate(-100deg);
  margin-left: 180px;
  margin-top: 5px;
}
.paw.f {
  transform: rotate(-65deg);
  margin-left: 160px;
  margin-top: 80px;
}
.paw.g {
  transform: rotate(-45deg);
  margin-left: 100px;
  margin-top: 140px;
}
.paw.h {
  transform: rotate(-5deg);
  margin-left: 10px;
  margin-top: 170px;
}
.backgroundpaw {
  position: absolute;
  top: 0;
  z-index: 1;
}
.earleft{
  position:absolute;
   height: 30px;
  width: 45px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #d47e00;
  border:solid 4px #a36100;
  top:90px;
  left:348px;
  transform:rotate(-60deg);
z-index=-1;
}
.earright{
  position:absolute;
   height: 30px;
  width: 45px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #d47e00;
  border:solid 4px #a36100;
  top:90px;
  left:477px;
  transform:rotate(60deg);
z-index=-1;
  
}
.addition{
position:absolute;
   height: 15px;
  width: 22.5px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #ffc46e;
  top:100px;
  left:490px;
  transform:rotate(60deg);
  z-index = 20;
}
.addition2{
  position:absolute;
   height: 15px;
  width: 22.5px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #ffc46e;
  top:100px;
  left:364px;
  transform:rotate(-60deg);
  z-index = 20;
}
.face {
  position: absolute;
  background: #d47e00;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  top: 80px;
  left: 365px;
  border: solid 4px #a36100;
}
.eye {
  position: absolute;
  background: #111111;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 1;
}
.dot1 {
  position: absolute;
  background: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  z-index: 2;
}
.dot2 {
  position: absolute;
  background: #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 13px;
  left: 13px;
  z-index: 2;
}
.right1 {
  position: absolute;
  margin-top: 125px;
  margin-left: 400px;
}
.left1 {
  position: absolute;
  margin-top: 125px;
  margin-left: 450px;
}
.mouth {
  position: absolute;
  background: #ffffff;
  width: 50px;
  height: 35px;
  border-radius: 50%;
  top: 170px;
  left: 410px;
}
.nose {
  position: absolute;
  background: #111111;
  width: 20px;
  height: 15px;
  border-radius: 50%;
  top: 167px;
  left: 425.5px;
}
.dot3 {
  position: absolute;
  background: #ffffff;
  width: 6.5px;
  height: 5px;
  border-radius: 50%;
  top: 1px;
  left: 3px;
  z-index: 2;
}
.dot4 {
  position: absolute;
  background: #ffffff;
  width: 6.5px;
  height: 5px;
  border-radius: 50%;
  top: 1px;
  left: 7px;
  z-index: 2;
}
.blush{
   position: absolute;
  background: #ff8293;
  width: 8px;
  height: 14px;
  border-radius: 50%;
  z-index: 2;
  transform:rotate(60deg);
}
.blush.x{
  position:absolute;
  top: 158px;
  left: 390px;
}
.blush.y{
  position:absolute;
  top: 158px;
  left: 400px;
}
.blush.w{
  position:absolute;
  top: 158px;
  left: 465px;
}
.blush.q{
  position:absolute;
  top: 158px;
  left: 475px;
}
.beartop{
  position:absolute;
  top:18.5%;
  left:-30%;
  transform:scale(1.4);
  z-index:2;
}
.body{
  position:absolute;
  background:#d47e00;
 border-radius: 200px 200px 10px 0px;
-moz-border-radius: 200px 200px 10px 0px;
-webkit-border-radius: 200px 200px 10px 0px;
border: 0px solid #000000;
  width:150px;
  height:155px;
  border:solid 4px #a36100;
  top:280px;
  left:533px;
  z-index:-1;
}
.belly{
  position:absolute;
   height: 65px;
  width: 100px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background-color: #e8ab6d;
  top:89px;
  left:20px;
}
.hand{
  position: absolute;
  background: #d47e00;
  width: 180px;
  height: 55px;
  border-radius: 48%;
  border:solid 4px #a36100;
  z-index:-2;
}
.hand.left{
  position:absolute;
  transform:rotate(30deg);
  top:300px;
  left:433px;
}
.hand.right{
  position:absolute;
  transform:rotate(150deg);
  top:300px;
  left:593px;
}
.bearbottom{
  position:absolute;
  top:18.5%;
  left:-30%;
}
.teddy{
  position:fixed;
  top:100px;
  left:-300px;
  animation-name: teddyy;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction:infinite;
}
@keyframes teddyy{
  0%{left:-300px;top:103px;}
  50%{left:-305px;}
  100%{left:-300px;top:103px;}
  
}
.book{
  position:absolute;
  width:460px;
  height:420px;
  background:#ffba3b;
  border-radius: 31px 31px 31px 31px;
-moz-border-radius: 31px 31px 31px 31px;
-webkit-border-radius: 31px 31px 31px 31px;
border: 0px solid #000000;
  top:15%;
  left:50%;
box-shadow: 7px 12px 17px 1.555px rgba(255,199,59,1);
}
.write{
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: 標楷體;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 30px;
  color: #f9ffe6;
}
.one{
  font-size:28px;
  font-weight: 1000;
}
.two{
   font-size:22px;
}